<div class="page-footer clearfix"  style="background-color: #fcfcfc " scroll-position="scrolled" max-height="50" ng-class="{'scrolled': scrolled}">
  <!--  <a href class="collapse-menu-link ion-navicon" ba-sidebar-toggle-menu></a>
 -->
  <div class="clearfix" align="left">
 	
 
  <a href="#/dashboard" class="al-logo clearfix" style="float: right;"><span><img alt="" src="assets/img/copyrightsymbol.png" height="20" width ="20"><img alt="" src="assets/img/xpo.svg.png" height="20" width ="200"></span></a>
 
  <!-- <img alt="" src="assets/img/infosys-logo-PNG.png" height="52" width ="122">&nbsp; 
  <img alt="" src="assets/img/monitoring.png" height="52" width ="62"> -->
  
  </div> 
  
</div>