<div class="page-top clearfix" scroll-position="scrolled" max-height="50" ng-class="{'scrolled': scrolled}">
  <a href="#/dashboard" class="al-logo clearfix"><span><img alt="" src="assets/img/xpo.svg.png" height="42" width ="300"></span></a>
 <!--  <a href class="collapse-menu-link ion-navicon" ba-sidebar-toggle-menu></a>
 -->
  <div class="page-top-right-icons clearfix">
 
  <!-- <img alt="" src="assets/img/infosys-logo-PNG.png" height="52" width ="122">&nbsp; 
  <img alt="" src="assets/img/monitoring.png" height="52" width ="62"> -->
  
  </div> 
  
</div>